.post {
  position: relative;
  width: 40%;
  height: 20%;
  background: #fff;
  box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
  margin: 10px auto;
  float:left;
  border-radius: 15px;
  overflow: hidden;
}
    
.post-left {
  width: 15%;            
  max-width: 15%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.post-content {
  width: 75%;           
  display: table-cell;
  text-align: left;
  background-color: #E8E8E8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;      
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.post-title{
  font-family: 'Itim', cursive;
  font-weight: bold;
  color: #2b312b;
  font-size: 25px;
  height: 25px;
  overflow: hidden;
}

.post-more {
  float: right;
  cursor: pointer;
  font-size: 18px;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 10px;
  font-size: 30px;
  color: grey;
}
.post-desc{
  height: 56px;
  margin-bottom: 16 !important;
  overflow: hidden;
}

.close {
  padding-top: 20px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  }

.openpost{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 !important;
  background-color: orange;
  background-size: 2000% 2000%;
}

.allPostsContainer {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;   
}

.red{
  margin: 10px;
  background-color:red;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 40px;
  border-width: 1px;
  padding: 15px 70px;
  padding-bottom: 31px;
}

.green{
  margin: 10px;
  background-color:green;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 40px;
  border-width: 1px;
  padding: 15px 70px;
  padding-bottom: 31px;
}

.red:hover, .green:hover{
  cursor: pointer;
}

.close:hover, .close:focus, .post-more:hover, .postmore:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Ubuntu Condensed';
  
}
 
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
 
.modal-header {
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 40px;
}

.modal-header2 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 20px;
}

.modalflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-form{
  border: none;
  background-color: lightgrey;
  padding: 15px;
  width: 92%
}

.button3{
  padding: 10px 16px;
  margin-top: 20px;
  width:98%;
  background-color: green;
  color: white;
  border: none;
}